<div class="main-body top">
  <h1>Change of personal details</h1>
</div>

<form [formGroup]="myForm" (ngSubmit)="formSubmit()">
<div class="main-body" formGroupName="userDetails">
  <div class="row">
    <div class="column">

      <div>
        <h4 class="titleStyle">1. Your previous personal details</h4>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput type="number" placeholder="Ex. 1234567890" formControlName="accnumber">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.accnumber')">
              {{ getErrorMessage('userDetails.accnumber') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.accnumber')) {
              <mat-error>{{ getErrorMessage('userDetails.accnumber') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Ex. Title Name" formControlName="title">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.title')">
              {{ getErrorMessage('userDetails.title') }}
            </mat-error> -->
            @if (hasFieldError('userDetails.title')) {
              <mat-error>{{ getErrorMessage('userDetails.title') }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>DOB</mat-label>
            <input matInput [matDatepicker]="dob" formControlName="dob" placeholder="MM/DD/YYYY">
            <mat-hint></mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
            <!-- <mat-error *ngIf="hasFieldError('userDetails.dob')">
              {{ getErrorMessage('userDetails.dob') }}
            </mat-error> -->
            @if (hasFieldError('userDetails.dob')) {
              <mat-error>{{ getErrorMessage('userDetails.dob') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput type="text" placeholder="Ex. Jhonpapa" formControlName="surname">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.surname')">
              {{ getErrorMessage('userDetails.surname') }}
            </mat-error> -->
            @if (hasFieldError('userDetails.surname')) {
              <mat-error>{{ getErrorMessage('userDetails.surname') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Given name(s)</mat-label>
            <input matInput type="text" placeholder="Ex. Jhonpapa" formControlName="givenName">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.givenName')">
              {{ getErrorMessage('userDetails.givenName') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.givenName')) {
                <mat-error>{{ getErrorMessage('userDetails.givenName') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-label><b>Gender</b></mat-label>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="others">Others</mat-radio-button>
          </mat-radio-group>
      </div>
      <!-- <div *ngIf="hasFieldError('userDetails.gender')" class="error-message">
            <span>{{ getErrorMessage('userDetails.gender') }}</span>
      </div> -->
      @if(hasFieldError('userDetails.gender')) {
        <div class="error-message">
          <span>{{ getErrorMessage('userDetails.gender') }}</span>
        </div>
      }
     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" placeholder="Ex. 100/308 GreatWestren Hwy, Parramatta, NSW 2114" formControlName="address">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.address')">
              {{ getErrorMessage('userDetails.address') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.address')) {
              <mat-error>{{ getErrorMessage('userDetails.address') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Suburb</mat-label>
            <input matInput type="text" placeholder="Ex. 100/308 GreatWestren Hwy, Parramatta, NSW 2114" formControlName="suburb">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.suburb')">
              {{ getErrorMessage('userDetails.suburb') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.suburb')) {
              <mat-error>{{ getErrorMessage('userDetails.suburb') }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
              @for (state of states; track state) {
                  <mat-option [value]="state">{{ state }}</mat-option>
              }
          </mat-select>
           <!-- <mat-error *ngIf="hasFieldError('userDetails.state')">
            {{ getErrorMessage('userDetails.state') }}
          </mat-error> -->
          @if(hasFieldError('userDetails.state')) {
            <mat-error>{{ getErrorMessage('userDetails.state') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Postcode</mat-label>
            <input matInput type="number" placeholder="Ex. 2000" formControlName="postcode">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.postcode')">
              {{ getErrorMessage('userDetails.postcode') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.postcode')) {
              <mat-error>{{ getErrorMessage('userDetails.postcode') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
      <mat-form-field appearance="outline">
            <mat-label>Contact phone number</mat-label>
            <input matInput type="number" placeholder="Ex. 000 000 000" formControlName="contacNumber">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.contacNumber')">
              {{ getErrorMessage('userDetails.contacNumber') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.contacNumber')) {
              <mat-error>{{ getErrorMessage('userDetails.contacNumber') }}</mat-error>
            }
      </mat-form-field>
      <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" placeholder="Ex. 000 000 000" formControlName="mobileNumber">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.mobileNumber')">
              {{ getErrorMessage('userDetails.mobileNumber') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.mobileNumber')) {
                <mat-error>{{ getErrorMessage('userDetails.mobileNumber') }}</mat-error>
            }
      </mat-form-field>
     </div>

     <div class="row">
      <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.email')">
              {{ getErrorMessage('userDetails.email') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.email')) {
                <mat-error>{{ getErrorMessage('userDetails.email') }}</mat-error>
            }
        </mat-form-field>
      </div>

      <div>
        <h4 class="titleStyle">2. Type of change requierd</h4>
      </div>
     
     <div [ngClass]="hasFieldError('userDetails.toc')? 'errorArea':''">
        <!-- <div class="row" *ngFor="let group of typeOfChangeReq">
          <section class="example-section-row">
            <p class="row-check-item" *ngFor="let option of group">
              <mat-checkbox
                [checked]="typeOfChangeReqControl.value.includes(option.value)"
                (change)="onCheckboxChange($event, option.value, 'toc'); markAsTouched('userDetails.toc')">
                <span>{{ option.label }}</span>
              </mat-checkbox>
            </p>
          </section>
        </div> -->
        @for (group of typeOfChangeReq; track $index) {
          <div class="row">
            <section class="example-section-row">
                @for (option of group; track option.value) {
                  <p class="row-check-item">
                    <mat-checkbox
                      [checked]="typeOfChangeReqControl.value.includes(option.value)"
                      (change)="
                        onCheckboxChange($event, option.value, 'toc');
                        markAsTouched('userDetails.toc')">
                      <span>{{ option.label }}</span>
                    </mat-checkbox>
                  </p>
                }
            </section>
          </div>
        }
     </div> 
      

      <!-- Validation Error Display -->
      <!-- <div *ngIf="typeOfChangeReqControl.invalid && typeOfChangeReqControl.touched" 
          class="error-message">
        <span *ngIf="typeOfChangeReqControl.errors?.['atLeastOneRequired']">
         * Please select at least one option
        </span>
      </div> -->

      <!-- <div *ngIf="hasFieldError('userDetails.toc')" class="error-message">
        <span>{{ getErrorMessage('userDetails.toc') }}</span>
      </div> -->
      @if(hasFieldError('userDetails.toc')) {
        <div class="error-message">
            <span>{{ getErrorMessage('userDetails.toc') }}</span>
        </div>
      }
      <div>
        <p class="noteStyle">
         <b>Note:</b> You can also change also change your address, email address or contact phone number throught your My AMP account. If you have't registered for your online account, visit amp.com.au to get started.
        </p>
      </div>

      <div>
        <p class="titleStyle2">
          Change of name
        </p>
      </div>

      <div>
        <p class="noteStyle">
         Please make sure that you provide photocopies of your original identification documents and that the copy is correctly certified. Refer to the information sheet for detils on how to certify your documents. 
        </p>
      </div>

      <div>
        <p class="borderStyle">
         It's important that you mail the original certified copies of your documents to us - we can't accept faxed or emailed copies of the certified documents. 
        </p>
      </div>

    </div>
    <div class="column">

      <div>
        <h4 class="titleStyle">2. Your previous personal details</h4>
      </div>

      <div>
        <p class="titleStyle2">
          Reason for change of name
        </p>
      </div>

      <div>
        <p class="noteStyle">
          Please select the reason you've changed your name and provide us with the relevent documents showing your new name detais:
        </p>
      </div>

    <div [ngClass]="hasFieldError('userDetails.reasonNameChange')? 'errorArea':''" style="padding-top: 10px;">
      <!-- <div class="row" *ngFor="let reason of reasonNameChange">
        <section class="example-section">
          <p class="row-check">
            <mat-checkbox
              [checked]="reasonNameChangeControl.value.includes(reason.value)"
              (change)="onCheckboxChange($event, reason.value, 'resonOfChange'); markAsTouched('userDetails.reasonNameChange')">
              <span class="label-text">{{ reason.label }}</span>
            </mat-checkbox>
          </p>
        </section>
      </div> -->
      @for (reason of reasonNameChange; track reason.value) {
          <div class="row">
            <section class="example-section">
              <p class="row-check">
                <mat-checkbox
                  [checked]="reasonNameChangeControl.value.includes(reason.value)"
                  (change)="
                    onCheckboxChange($event, reason.value, 'resonOfChange');
                    markAsTouched('userDetails.reasonNameChange')">
                  <span class="label-text">{{ reason.label }}</span>
                </mat-checkbox>
              </p>
            </section>
          </div>
      }
    </div>
      

      <!-- Validation Error Display -->
      <!-- <div *ngIf="reasonNameChangeControl.invalid && reasonNameChangeControl.touched" 
          class="error-message">
        <span *ngIf="reasonNameChangeControl.errors?.['atLeastOneRequired']">
         * Please select at least one option
        </span>
      </div> -->

      <!-- <div *ngIf="hasFieldError('userDetails.reasonNameChange')" class="error-message">
        <span>{{ getErrorMessage('userDetails.reasonNameChange') }}</span>
      </div> -->
      @if(hasFieldError('userDetails.reasonNameChange')) {
          <div class="error-message">
            <span>{{ getErrorMessage('userDetails.reasonNameChange') }}</span>
          </div>
      }
       <div>
        <p style="padding: 8px 12px; background-color: rgb(105, 130, 214); color: #000000; margin: 5px 0 8px 0;">
          New name details
        </p>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <mat-select formControlName="nctitle">
              @for (titleItem of titleNames; track titleItem) {
                  <mat-option [value]="titleItem">{{ titleItem }}</mat-option>
              }
          </mat-select>
          <!-- <mat-error *ngIf="hasFieldError('userDetails.nctitle')">
            {{ getErrorMessage('userDetails.nctitle') }}
          </mat-error> -->
          @if(hasFieldError('userDetails.nctitle')) {
            <mat-error>{{ getErrorMessage('userDetails.nctitle') }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput type="text" placeholder="Ex. Jhonpapa" formControlName="ncsurname">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.ncsurname')">
              {{ getErrorMessage('userDetails.ncsurname') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.ncsurname')) {
              <mat-error>{{ getErrorMessage('userDetails.ncsurname') }}</mat-error>
            }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Given name(S)</mat-label>
            <input matInput type="text" placeholder="Ex. Jhonpapa" formControlName="ncgivenName">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.ncgivenName')">
              {{ getErrorMessage('userDetails.ncgivenName') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.ncgivenName')) {
              <mat-error>{{ getErrorMessage('userDetails.ncgivenName') }}</mat-error>
            }
        </mat-form-field>
      </div>

      <div>
        <p class="noteStyle2">
          <b>Note:</b> We won't be able to process your request if you don't send us the certified of the relevent documents
        </p>
      </div>

      <div>
        <p class="address">
          New Address
        </p>
      </div>

      <div>
        <p class="provideAddress">
          Please provide your new address details:
        </p>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Residential Address</mat-label>
            <input matInput type="text" placeholder="Ex. 100/308 GreatWestren Hwy, Parramatta, NSW 2114" formControlName="newaddress">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.newaddress')">
              {{ getErrorMessage('userDetails.newaddress') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.newaddress')) {
              <mat-error>{{ getErrorMessage('userDetails.newaddress') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Suburb</mat-label>
            <input matInput type="text" placeholder="Ex. BanksTown" formControlName="newsuburb">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.newsuburb')">
              {{ getErrorMessage('userDetails.newsuburb') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.newsuburb')) {
              <mat-error>{{ getErrorMessage('userDetails.newsuburb') }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="newstate">
              @for (state of states; track state) {
                  <mat-option [value]="state">{{ state }}</mat-option>
              }
          </mat-select>
          <!-- <mat-error *ngIf="hasFieldError('userDetails.newstate')">
            {{ getErrorMessage('userDetails.newstate') }}
          </mat-error> -->
          @if(hasFieldError('userDetails.newstate')) {
            <mat-error>{{ getErrorMessage('userDetails.newstate') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Postcode</mat-label>
            <input matInput type="number" placeholder="Ex. 2000" formControlName="newpostcode">
            <!-- <mat-error *ngIf="hasFieldError('userDetails.newpostcode')">
              {{ getErrorMessage('userDetails.newpostcode') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.newpostcode')) {
              <mat-error>{{ getErrorMessage('userDetails.newpostcode') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput type="text" placeholder="Ex. Australia" formControlName="country">
            <!-- <mat-error *ngIf="myForm.get('userDetails.country')?.hasError('required') && myForm.get('userDetails.country')?.touched">
              Country is required
            </mat-error> -->
            <!-- <mat-error *ngIf="hasFieldError('userDetails.country')">
              {{ getErrorMessage('userDetails.country') }}
            </mat-error> -->
            @if(hasFieldError('userDetails.country')) {
              <mat-error>{{ getErrorMessage('userDetails.country') }}</mat-error>
            }
        </mat-form-field>
     </div>

     <div class="contacts-toggle">
          <mat-slide-toggle formControlName="hasContacts" color="primary" (click)="enableAddContact()">
              Enable Add Contact
          </mat-slide-toggle>
     </div>

  @if(hasContactsControl) {
      <button [disabled]="addContactDisabled"  matButton="filled" (click)="addContact($event)" style="margin: 15px 0;">Add contact</button>
      @for (control of contacts.controls; track trackById(control); let i = $index) {
        <div class="row" formArrayName="contacts">
            <ng-container [formGroupName]="i">
              <pre>{{hasFieldError('userDetails.contacts.' + i + '.number') &&
                  hasFieldError('userDetails.contacts.' + i + '.type') &&
                  hasFieldError('userDetails.contacts.' + i + '.description')}}</pre>
                  <pre>{{i}}</pre>
              <fieldset
                class="dynamicForm"
                [ngClass]="
                  hasFieldError('userDetails.contacts.' + i + '.number') &&
                  hasFieldError('userDetails.contacts.' + i + '.type') &&
                  hasFieldError('userDetails.contacts.' + i + '.description')
                    ? 'dynamicFieldError'
                    : ''">
                <button (click)="deleteContacts(i, $event)" class="deleteButton">
                  <mat-icon class="delete_icon">delete</mat-icon>
                </button>
                <legend
                  class="legendText"
                  [ngClass]="
                    hasFieldError('userDetails.contacts.' + i + '.number') &&
                    hasFieldError('userDetails.contacts.' + i + '.type') &&
                    hasFieldError('userDetails.contacts.' + i + '.description') ? 'legendError' : ''">
                  Add Contacts details {{ i + 1 }}
                </legend>

                <div style="display: flex; gap: 10px; width: 100%">
                  <mat-form-field appearance="outline">
                    <mat-label>Number</mat-label>
                    <input
                      matInput
                      formControlName="number"
                      style="flex-grow: 1"
                      type="number"
                      placeholder="Number"/>
                    <!-- <mat-error *ngIf="hasFieldError('userDetails.contacts.' + i + '.number')">
                      {{ getErrorMessage('userDetails.contacts.' + i + '.number') }}
                    </mat-error> -->
                    @if(hasFieldError('userDetails.contacts.' + i + '.number')) {
                        <mat-error>{{ getErrorMessage('userDetails.contacts.' + i + '.number') }}</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <input
                      matInput
                      formControlName="type"
                      style="flex-grow: 1"
                      type="text"
                      placeholder="Type"
                    />
                    <!-- <mat-error *ngIf="hasFieldError('userDetails.contacts.' + i + '.type')">
                      {{ getErrorMessage('userDetails.contacts.' + i + '.type') }}
                    </mat-error> -->
                    @if(hasFieldError('userDetails.contacts.' + i + '.type')) {
                        <mat-error>{{ getErrorMessage('userDetails.contacts.' + i + '.type') }}</mat-error>
                    }
                  </mat-form-field>
                </div>

                <div style="display: flex; gap: 10px; width: 100%; margin-top: 15px;">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea
                      matInput
                      formControlName="description"
                      style="flex-grow: 1"
                      placeholder="Description">
                    </textarea>
                    <!-- <mat-error *ngIf="hasFieldError('userDetails.contacts.' + i + '.description')">
                      {{ getErrorMessage('userDetails.contacts.' + i + '.description') }}
                    </mat-error> -->
                    @if(hasFieldError('userDetails.contacts.' + i + '.description')) {
                        <mat-error>{{ getErrorMessage('userDetails.contacts.' + i + '.description') }}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </fieldset>
            </ng-container>
        </div>
      }
  }
  
    </div>
  </div>
  
  <div class="buttonAlginRight">
    <pre>{{myForm.valid}}</pre>
    <button matButton="filled" type="submit" [disabled]="!myForm.valid">Submit</button>
  </div>
  
</div>
</form>

<div class="preview" [ngClass]="togglePre ? 'Hide' : 'Show'">
  <div>
    <pre>{{lastSaved}}</pre>
    @if(lastSaved) {
      <span class="save-indicator">
        <mat-icon>cloud_done</mat-icon>
        Last saved: {{ lastSaved | date:'short' }}
      </span>
     }
  </div>
   <div class="buttonAlginCenter">
     <button class="previewToggle {{togglePre ? 'Hide Preview' : 'Show Preview'}}" (click)="togglePre = !togglePre">{{togglePre ? 'Hide Preview' : 'Show Preview'}}</button>
   </div>
   <!-- <pre *ngIf="togglePre">{{myForm.value | json}}</pre>  -->
  @if(togglePre) {
      <pre>{{myForm.value | json}}</pre>
  }
</div>







